@use '../abstracts' as *;

#hero-benefits-rotation {
    &:after {
        animation: benefitsRotation 10s linear infinite;
        display: block;
        content: 'Save time';
        color: $color-teal;
        text-transform: uppercase;
    }
}

@keyframes benefitsRotation {
    0% {
        color: $color-teal;
    }
    12% {
        content: 'Save time';
        color: $color-darkblue;
    }
    24% {
        color: $color-teal;
    }
    36% {
        content: 'Avoid bad hires';
        color: $color-darkblue;
    }
    48% {
        color: $color-teal;
    }
    60% {
        content: 'Find "diamonds in the rough"';
        color: $color-darkblue;
    }
    72% {
        color: $color-teal;
    }
    84% {
        content: 'Leverage industry expertise';
        color: $color-darkblue;
    }
    100% {
        color: $color-teal;
    }
}

#roles-rotation {
    &:after {
        margin-top: 10px;
        animation: rolesRotation 20s linear infinite;
        display: block;
        content: 'Business analysis';
        color: $color-white;
        text-transform: uppercase;
        font-size: 1rem;
    }
}

@keyframes rolesRotation {
    0% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    5% {
        content: 'Business analysis';
        color: $color-darkblue;
    }
    10% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    15% {
        content: 'Customer success';
        color: $color-darkblue;
    }
    20% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    25% {
        content: 'Data analysis';
        color: $color-darkblue;
    }
    30% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    35% {
        content: 'Finance';
        color: $color-darkblue;
    }
    40% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    45% {
        content: 'Marketing';
        color: $color-darkblue;
    }
    50% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    55% {
        content: 'Operations management';
        color: $color-darkblue;
    }
    60% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    65% {
        content: 'Product management';
        color: $color-darkblue;
    }
    70% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    75% {
        content: 'Project management';
        color: $color-darkblue;
    }
    80% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    85% {
        content: 'Supply chain management';
        color: $color-darkblue;
    }
    90% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    95% {
        content: 'User experience';
        color: $color-darkblue;
    }
    100% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
}

#skills-rotation {
    &:after {
        margin-top: 10px;
        animation: skillsRotation 20s linear infinite;
        display: block;
        content: 'Business analysis';
        color: adjust-color($color-darkblue, $alpha: -0.7);
        text-transform: uppercase;
        font-size: 1rem;
    }
}

@keyframes skillsRotation {
    0% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    5% {
        content: 'Business intelligence software';
        color: $color-darkblue;
    }
    10% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    15% {
        content: 'Excel';
        color: $color-darkblue;
    }
    20% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    25% {
        content: 'Marketing plan creation';
        color: $color-darkblue;
    }
    30% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    35% {
        content: 'MVP development';
        color: $color-darkblue;
    }
    40% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    45% {
        content: 'Powerpoint';
        color: $color-darkblue;
    }
    50% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    55% {
        content: 'Product management';
        color: $color-darkblue;
    }
    60% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    65% {
        content: 'Project management';
        color: $color-darkblue;
    }
    70% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    75% {
        content: 'Project plan creation';
        color: $color-darkblue;
    }
    80% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    85% {
        content: 'Python';
        color: $color-darkblue;
    }
    90% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
    95% {
        content: 'SQL';
        color: $color-darkblue;
    }
    100% {
        color: adjust-color($color-darkblue, $alpha: -0.7);
    }
}