@use '../abstracts' as *;

$card-radius: 10px;
@mixin card {
    background-color: $color-white;
    box-shadow: 0 0 3px 1px $color-lightgrey;
    border-radius: $card-radius;
    padding: 10px;
    height: fit-content;
}

.sidebar {
    @include card;
}

.card-custom {
    @include card;
    margin-top: 20px;
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
        margin: 20px;
    }

    &_body {
        padding: 10px;
    }

    &.filter {
        margin-bottom: 8px;
    }

    &--shadow {
        box-shadow: 0 0 5px $color-moderategrey;
    }

    &--no-side-margin {
        margin-left: 0;
        margin-right: 0;
    }

    &--no-top-margin {
        margin-top: 0;
    }

    &--no-padding {
        padding: 0;
    }
}

.card-pricing {
    padding: 0;
    perspective: 200rem;
    -moz-perspective: 200rem;

    &-flip:hover {
        .card-side--front {
            transform: rotateY(-180deg);
        }

        .card-side--back {
            transform: rotateY(0);
        }
    }

    .card-price {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
        :not(h2) {
            color: $color-moderategrey;
        }
    }

    .card-side {
        transition: all 1s ease;
        float: left;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        box-shadow: 8px 6px 4px $color-moderategrey;
        border-radius: $card-radius;
        overflow: hidden;

        &__inner {
            padding: 1rem 1rem 0.7rem 1rem;
            border-top: 1px solid $color-lightgrey;
            border-left: 1px solid $color-lightgrey;
            border-right: 1px solid $color-lightgrey;
            border-top-right-radius: $card-radius;
            border-top-left-radius: $card-radius;
        }

        &--front {
            background-color: $color-white;
            .card-top {
                border-bottom: 1px solid $color-moderategrey;
                color: $color-moderategrey;

                h5 {
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 0.3rem;
                }
            }

            button {
                width: 100%;
                border-radius: 0 0 $card-radius $card-radius;
                padding: 1rem;
                color: $color-white;

                &:hover {
                    color: $color-black;
                    filter: brightness(1.25);
                }
            }
        }

        &--back {
            transform: rotateY(180deg);
            color: $color-white;

            &-orange {
                background-image: linear-gradient(to right bottom, $color-orange, $color-white);
            }
        }
    }
}

.card-course {
    @include card;
    position: relative;

    &__cover {
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;

        img {
            border-top-left-radius: $card-radius;
            border-top-right-radius: $card-radius;
            border-bottom: 1px solid $color-lightgrey;
        }
    }

    &__price {
        font-weight: 600;
        position: absolute;
        color: $color-white;
        left: 8px;
        top: 8px;
    }

    &__description {
        padding: 1em;
    }
}

.collapse-card {
    padding: 0;
    .collapse-div {
        border-bottom: 2px solid $color-white;
    }
    .collapse-div:first-of-type {
        div:first-of-type {
            border-top-left-radius: $card-radius;
            border-top-right-radius: $card-radius;
        }
    }
}