$color-link: rgb(0, 115, 229);
$color-yellow: rgb(251, 232, 166);
$color-orange: rgb(244, 151, 108);
$color-darkblue: rgb(48, 60, 108);
$color-blue: rgb(47, 196, 244);
$color-teal: rgb(180, 223, 229);
$color-lightblue: rgb(210, 253, 255);
$color-lightgrey: rgba(225, 227, 230, 1);
$color-moderategrey: rgb(136, 136, 136);
$color-darkgrey: rgb(111, 112, 112);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-red: rgb(242, 128, 128);
$color-green: rgb(115, 201, 170);

.-color- {
    &yellow { 
        background-color: $color-yellow !important;
        &__light {
            background-color: adjust-color($color-yellow, $alpha: -0.7) !important;
        }

        &-text {
            color: $color-yellow !important;
        }
        &-fa {
            path {
                fill: $color-yellow !important;
            }
        }
    }
    &orange {
        background-color: $color-orange !important;
        &__light {
            background-color: adjust-color($color-orange, $alpha: -0.7) !important;
        }

        &-text {
            color: $color-orange !important;
        }
        &-fa {
            path {
                fill: $color-orange !important;
            }
        }
    }
    &blue {
        background-color: $color-blue !important;
        &__light {
            background-color: adjust-color($color-blue, $alpha: -0.7) !important;
        }

        &-text {
            color: $color-blue !important;
        }
        &-fa {
            path {
                fill: $color-blue !important;
            }
        }
    }
    &darkblue {
        background-color: $color-darkblue !important;
        &__light {
            background-color: adjust-color($color-darkblue, $alpha: -0.7) !important;
        }

        &-text {
            color: $color-darkblue !important;
        }
        &-fa {
            path {
                fill: $color-darkblue !important;
            }
        }
    }
    &teal {
        background-color: $color-teal !important;
        &__light {
            background-color: adjust-color($color-teal, $alpha: -0.7) !important;
        }
        &-text {
            color: $color-teal !important;
        }
        &-fa {
            path {
                fill: $color-teal !important;
            }
        }
    }
    &lightblue {
        background-color: $color-lightblue !important;
        &__light {
            background-color: adjust-color($color-lightblue, $alpha: -0.7) !important;
        }
        &-text {
            color: $color-lightblue !important;
        }
        &-fa {
            path {
                fill: $color-lightblue !important;
            }
        }
    }
    &lightgrey {
        background-color: $color-lightgrey !important;
        &__light {
            background-color: adjust-color($color-lightgrey, $alpha: -0.7) !important;
        }
        &-text {
            color: $color-lightgrey !important;
        }
        &-fa {
            path {
                fill: $color-lightgrey !important;
            }
        }
    }
    &moderategrey {
        background-color: $color-moderategrey !important;
        &__light {
            background-color: adjust-color($color-moderategrey, $alpha: -0.7) !important;
        }
        &-text {
            color: $color-moderategrey !important;
        }
        &-fa {
            path {
                fill: $color-moderategrey !important;
            }
        }
    }
    &darkgrey {
        background-color: $color-darkgrey !important;
        &__light {
            background-color: adjust-color($color-darkgrey, $alpha: -0.7) !important;
        }
        &-text {
            color: $color-darkgrey !important;
        }
        &-fa {
            path {
                fill: $color-darkgrey !important;
            }
        }
    }
    &white {
        background-color: $color-white !important;
        &-text {
            color: $color-white !important;
        }
        &-fa {
            path {
                fill: $color-white !important;
            }
        }
    }
    &green {
        background-color: $color-green !important;
        &__light {
            background-color: adjust-color($color-green, $alpha: -0.7) !important;
        }
        &-text {
            color: $color-green !important;
        }
        &-fa {
            path {
                fill: $color-green !important;
            }
        }
    }
    &red {
        background-color: $color-red !important;
        &__light {
            background-color: adjust-color($color-red, $alpha: -0.7) !important;
        }
        &-text {
            color: $color-red !important;
        }
        &-fa {
            path {
                fill: $color-red !important;
            }
        }
    }
    &black {
        background-color: $color-black !important;
        &__light {
            background-color: adjust-color($color-black, $alpha: -0.7) !important;
        }
        &-text {
            color: $color-black !important;
        }
        &-fa {
            path {
                fill: $color-black !important;
            }
        }
    }
}

.-color-hover- {
    &yellow:hover {
        background-color: $color-yellow !important;
    }
    &yellow {
        &__light:hover {
            background-color: adjust-color($color-yellow, $alpha: -0.7) !important;
        }

        &-text:hover {
            color: $color-yellow !important;
        }
        &-fa:hover {
            path {
                fill: $color-yellow !important;
            }
        }
    }
    &orange:hover {
        background-color: $color-orange !important;
    }
    &orange {
        &__light:hover {
            background-color: adjust-color($color-orange, $alpha: -0.7) !important;
        }

        &-text:hover {
            color: $color-orange !important;
        }
        &-fa:hover {
            path {
                fill: $color-orange !important;
            }
        }
    }
    &blue:hover {
        background-color: $color-blue !important;
    }
    &blue {
        &__light:hover {
            background-color: adjust-color($color-blue, $alpha: -0.7) !important;
        }

        &-text:hover {
            color: $color-blue !important;
        }
        &-fa:hover {
            path {
                fill: $color-blue !important;
            }
        }
    }
    &darkblue:hover {
        background-color: $color-darkblue !important;
    }
    &darkblue {
        &__light:hover {
            background-color: adjust-color($color-darkblue, $alpha: -0.7) !important;
        }

        &-text:hover {
            color: $color-darkblue !important;
        }
        &-fa:hover {
            path {
                fill: $color-darkblue !important;
            }
        }
    }
    &teal:hover {
        background-color: $color-teal !important;
    }
    &teal {
        &__light:hover {
            background-color: adjust-color($color-teal, $alpha: -0.7) !important;
        }
        &-text:hover {
            color: $color-teal !important;
        }
        &-fa:hover {
            path {
                fill: $color-teal !important;
            }
        }
    }
    &lightblue:hover {
        background-color: $color-lightblue !important;
    }
    &lightblue {
        &__light:hover {
            background-color: adjust-color($color-lightblue, $alpha: -0.7) !important;
        }
        &-text:hover {
            color: $color-lightblue !important;
        }
        &-fa:hover {
            path {
                fill: $color-lightblue !important;
            }
        }
    }
    &lightgrey:hover {
        background-color: $color-lightgrey !important;
    }
    &lightgrey {
        &__light:hover {
            background-color: adjust-color($color-lightgrey, $alpha: -0.7) !important;
        }
        &-text:hover {
            color: $color-lightgrey !important;
        }
        &-fa:hover {
            path {
                fill: $color-lightgrey !important;
            }
        }
    }
    &moderategrey:hover {
        background-color: $color-moderategrey !important;
    }
    &moderategrey {
        &__light:hover {
            background-color: adjust-color($color-moderategrey, $alpha: -0.7) !important;
        }
        &-text:hover {
            color: $color-moderategrey !important;
        }
        &-fa:hover {
            path {
                fill: $color-moderategrey !important;
            }
        }
    }
    &darkgrey:hover {
        background-color: $color-darkgrey !important;
    }
    &darkgrey {
        &__light:hover {
            background-color: adjust-color($color-darkgrey, $alpha: -0.7) !important;
        }
        &-text:hover {
            color: $color-darkgrey !important;
        }
        &-fa:hover {
            path {
                fill: $color-darkgrey !important;
            }
        }
    }
    &white:hover {
        background-color: $color-white !important;
    }
    &white {
        &-text:hover {
            color: $color-white !important;
        }
        &-fa:hover {
            path {
                fill: $color-white !important;
            }
        }
    }
    &green:hover {
        background-color: $color-green !important;
    }
    &green {
        &__light:hover {
            background-color: adjust-color($color-green, $alpha: -0.7) !important;
        }
        &-text:hover {
            color: $color-green !important;
        }
        &-fa:hover {
            path {
                fill: $color-green !important;
            }
        }
    }
    &red:hover {
        background-color: $color-red !important;
    }
    &red {
        &__light:hover {
            background-color: adjust-color($color-red, $alpha: -0.7) !important;
        }
        &-text:hover {
            color: $color-red !important;
        }
        &-fa:hover {
            path {
                fill: $color-red !important;
            }
        }
    }
    &black:hover {
        background-color: $color-black !important;
    }
    &black {
        &__light:hover {
            background-color: adjust-color($color-black, $alpha: -0.7) !important;
        }
        &-text:hover {
            color: $color-black !important;
        }
        &-fa:hover {
            path {
                fill: $color-black !important;
            }
        }
    }
}

.-color-linear-text {
    &-blue {
        display: inline-block;
        color: transparent;
        background-image: linear-gradient(to right, $color-darkblue, $color-blue);
        -webkit-background-clip: text;
    }
}

.-color-linear-background {
    &-orange {
        background-image: linear-gradient(to right, $color-orange, $color-white);
    }

    &-darkblue {
        background-image: linear-gradient(to right, $color-darkblue, $color-white);
    }
}