@use 'colors';
@import "bootstrap/scss/bootstrap-grid";

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
    background-color: #fff;
	color: #333;
	overflow-x: hidden;
}

main {
	display: block;
}

hr {
	box-sizing:content-box;
	height:0;
	overflow:visible;
    color: colors.$color-moderategrey;
    border: 0;
	border-collapse: collapse;
	border-bottom: 1px solid currentColor;
	clear: both;
	margin: 1.65em auto;
}

pre {
	font-family:monospace,monospace;
	font-size:1em
}


img {
	border-style:none;

    &.line-height {
        height: 30px;
    }

    &.img-100 {
        max-height: 100px;
    }

    &.img-150 {
        max-height: 150px;
    }

    &.img-200 {
        max-height: 200px;
    }
}

textarea {
	overflow:auto;
}

::-webkit-file-upload-button {
	-webkit-appearance:button;
	font:inherit;
}

[hidden],template {
	display:none;
}

blockquote {
    padding-left: 0.5rem;
    border-left: 2px solid colors.$color-moderategrey;
}

ul, ol {
    p {
      display: inline;  // Make sure bullets display on same line as text
    }
}

ul.list-table, ol.list-table {
    display: table;

    li {
        display: table-row;
    }
}


.clearfix::before,
.site-container::before,
#site-footer::before,
#site-header::before {
    &::before {
      content: " ";
      display: table;
    }

    &::after {
      clear: both;
      content: " ";
      display: table;
    }
}

embed,
iframe,
img,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
	vertical-align: top;
}

div {
    &.call-out-box {
        background-color: colors.$color-lightblue;
        text-align: center;
        color: colors.$color-moderategrey;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        > * {
            flex: 0 0 100%;
        }
    }
}

.row .filter {
    border-bottom: scale-color(colors.$color-lightgrey, $lightness: 70%) 1px solid;
}

div.circle {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    background-color: white;
    border: colors.$color-darkblue 3px solid;
    color: colors.$color-moderategrey;

    &.circle-inverse {
        background-color: colors.$color-darkblue;
        color: white;
    }
}

div.triangle__right {
    height: 50px;
    width: 25px;
    background-color: colors.$color-moderategrey;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

div.triangle__down {
    height: 50px;
    width: 25px;
    background-color: colors.$color-moderategrey;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

div.skewer-container {
    position: relative;
    display: flex;

    &.skewer-container-hz {
        align-items: center;

        & div.skewer {
            height: 3px;
            width: 100%;
            border: colors.$color-moderategrey 2px solid;
            position: absolute;
            top: 50%;
            transform: translateY(-3px);
            z-index: -1
        }
    }

    &.skewer-container__vt {
        flex-direction: column;

        & div.skewer {
            width: 3px;
            height: 100%;
            border: colors.$color-moderategrey 2px solid;
            position: absolute;
            left: 50%;
            transform: translateX(-3px);
            z-index: -1
        }
    }
}


.button-interactive {
    transition: all 0.2s;
    font-weight: bold;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px adjust-color(colors.$color-darkblue, $alpha: -0.7);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 2px 4px adjust-color(colors.$color-darkblue, $alpha: -0.7);
    }
}

.feature-box {
    position: relative;
    background-color: colors.$color-white;
    border: 2px solid colors.$color-darkblue;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 4px 3px 2px colors.$color-darkblue;
    transition: all 0.2s;
    min-height: 30vh;
    display: flex;
    flex-direction: column;

    &:hover {
        box-shadow: 8px 6px 4px colors.$color-darkblue;
        transform: scale(1.03);

        .call-out {
            background-color: colors.$color-orange;
            font-weight: bold;
        }

        .learn-more {
            visibility: visible;
        }
    }

    > img {
        margin-bottom: 0.5rem;
        align-self: center;
    }

    .header {
        color: colors.$color-darkblue;
        font-weight: 600;
        margin-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid colors.$color-lightgrey;
    }

    .call-out {
        position: absolute;
        background-color: colors.$color-darkblue;
        color: colors.$color-white;
        border-radius: 8px;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
        padding: 5px;
        width: 90%;
    }

    .learn-more {
        @include media-breakpoint-up(md) {
            visibility: hidden;
        }
        align-self: center;
        margin-top: auto;
        width: 100%;
    }
}