@use 'colors';

.fa, .fas {
    color: colors.$color-darkgrey;

    &:hover {
        color: darken(colors.$color-darkgrey, 20%);
    }

    &.fa-trash:hover {
        color: darken(colors.$color-red, 10%);
    }

    &.fa-pencil-alt:hover {
        color: darken(colors.$color-green, 10%);
    }
}

.fa-info-circle {
    color: colors.$color-moderategrey;
}

button.btn {
    &[disabled] {
        color: colors.$color-white;
        background-color: colors.$color-moderategrey;
        border-color: colors.$color-darkgrey;
        cursor: not-allowed;
        pointer-events: all;
    }
}

.fa-layers {
    position: relative;
    .fa-custom-counter {
        position: absolute;
        font-size: 7px;
        font-weight: bold;
        border: 1px solid colors.$color-lightgrey;
        border-radius: 100px;
        padding: 0 4px;
        left: 90%;
        top: 0
    }
}

.fa-stack {
    cursor: default;
    &.fa-stack-sm {
        font-size: 0.7em;
    }
    i {
        vertical-align: middle;
    }
}