@use '../abstracts' as *;

.fa, .fas {
    color: $color-darkgrey;

    &:hover {
        color: darken($color-darkgrey, 20%);
    }

    &.fa-trash:hover {
        color: darken($color-red, 10%);
    }

    &.fa-pencil-alt:hover {
        color: darken($color-green, 10%);
    }
}

.fa-info-circle {
    color: $color-moderategrey;
}

button.btn {
    &[disabled] {
        color: $color-white;
        background-color: $color-moderategrey;
        border-color: $color-darkgrey;
        cursor: not-allowed;
        pointer-events: all;
    }
}

.fa-layers {
    position: relative;
    .fa-custom-counter {
        position: absolute;
        font-size: 7px;
        font-weight: bold;
        border: 1px solid $color-lightgrey;
        border-radius: 100px;
        padding: 0 4px;
        left: 90%;
        top: 0
    }
}

.fa-stack {
    cursor: default;
    &.fa-stack-sm {
        font-size: 0.7em;
    }
    i {
        vertical-align: middle;
    }
}