@use "colors";
@import "bootstrap/scss/bootstrap-grid";

#site-header {
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    background-color: colors.$color-white;

    .navbar {
        padding: 0 1rem;
    }

    .nav-link {
        color: colors.$color-darkblue;
    }

    .logo {
        height: 40px;
        width: 118px;
        background-color: rgb(0, 0, 0, 0);
    }

    .current-page {
        border-bottom: 2px solid colors.$color-darkblue;
    }
}

@include media-breakpoint-down(md) {
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: colors.$color-moderategrey;
    }

    .hamburger {
        float: right;
        display: block;
        cursor: pointer;
    }

    .navbar-collapse.show ~ div button .hamburger .bar {
        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}