@use '../abstracts' as *;

.site-header {
    box-shadow: 0 2px 2px $color-lightgrey;
    background-color: $color-white;
    font-size: 16px;

    .navbar {
        padding: 1rem 4rem;
    }

    .nav-link {
        color: $color-darkblue;
    }

    .navbar-nav {
        li:hover {
            font-weight: bold;
        }
    }

    .logo {
        height: 40px;
        width: 118px;
        background-color: rgb(0, 0, 0, 0);
    }

    .current-page {
        border-bottom: 2px solid $color-darkblue;
    }
}

@include media-breakpoint-down(md) {
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $color-moderategrey;
    }

    .hamburger {
        float: right;
        display: block;
        cursor: pointer;
    }

    .navbar-collapse.show ~ div button .hamburger .bar {
        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}