@use 'colors';

.-hidden {
    display: none;
}

.-no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.-float-right {
    float: right;
}

.-float-left {
    float: left;
}

.-text-center {
    text-align: center;
}

.-border-left {
    &--light {
        border-left: 1px solid colors.$color-lightgrey;
    }
}

.-border-bottom {
    &--light {
        border-bottom: 1px solid colors.$color-lightgrey;
    }
}

.-border-top {
    &--light {
        border-top: 1px solid colors.$color-lightgrey;
    }
}

.-border-left {
    &--light {
        border-left: 1px solid colors.$color-lightgrey;
    }
}

.-hover-display {
    display: none;
    &:hover {
        display: inline-block;
    }
}

.-hover-highlight-border {
    &:hover {
        border-left: 2px solid colors.$color-moderategrey;
        padding-left: 4px;
    }
}

.-hover-bold {
    &:hover {
        font-weight: bold;
    }
}

.-absolute-top {
    &-left {
        z-index: 1;
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        top: 0;
    }

    &-right {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.-absolute-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 100%;
}

.-bg-clip-border {
    background-clip: border-box;
}

.position {
    position: relative;
    display: table;

    &__center-vertical {
        display: table-cell;
        vertical-align: middle;
    }

    &__top-vertical {
        display: table-cell;
        vertical-align: top;
    }
}

.-vertical-align {
    &-top {
        vertical-align: top;
    }

    &-center {
        vertical-align: center;
    }
}

.-pull-left {
    margin-right: auto;
}

.-anchor {
    background-color: transparent;
    color: colors.$color-link;
    text-decoration: underline;
    cursor: pointer;
}

.-border-rounded {
    border: 1px solid colors.$color-darkgrey;
    border-radius: 10px;
}
