@use 'colors';

.-hidden {
    display: none;
}

.-no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.-float-right {
    float: right;
}

.-float-left {
    float: left;
}

.-text-center {
    text-align: center;
}

.-border-left {
    &--light {
        border-left: 1px solid colors.$color-lightgrey;
    }

    &--blue {
        border-left: 2px solid colors.$color-darkblue;
    }
}

.-border-bottom {
    &--light {
        border-bottom: 1px solid colors.$color-lightgrey;
    }
}

.-border-top {
    &--light {
        border-top: 1px solid colors.$color-lightgrey;
    }
}

.-border-left {
    &--light {
        border-left: 1px solid colors.$color-lightgrey;
    }
}

.-hover-display {
    display: none;

    &:hover {
        display: inline-block;
    }
}

.-hover-highlight-border {
    &:hover {
        border-left: 2px solid colors.$color-moderategrey;
        padding-left: 4px;
    }
}

.-hover-bold {
    &:hover {
        font-weight: bold;
    }
}

.-absolute-top {
    &-left {
        z-index: 1;
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        top: 0;
    }

    &-right {
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;

        &-padded {
            right: 8px;
            top: 3px;
        }
    }

}

.-absolute-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 100%;
}

.-bg-clip-border {
    background-clip: border-box;
}

.position {
    position: relative;
    display: table;

    &__center-vertical {
        display: table-cell;
        vertical-align: middle;
    }

    &__top-vertical {
        display: table-cell;
        vertical-align: top;
    }
}

.position-relative {
    position: relative;

    .position-absolute-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .position-absolute-center-y {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.-vertical-align {
    &-top {
        vertical-align: top;
    }
}

.-pull-left {
    margin-right: auto;
}

.-anchor {
    background-color: transparent;
    color: colors.$color-link;
    text-decoration: underline;
    cursor: pointer;
}

.-z- {
    &0 {
        z-index: 0;
    }

    &1 {
        z-index: 1;
    }

    &2 {
        z-index: 2;
    }

    &3 {
        z-index: 3;
    }

    &4 {
        z-index: 4;
    }

    &5 {
        z-index: 5;
    }

    &6 {
        z-index: 6;
    }

    &10 {
        z-index: 10;
    }

    &20 {
        z-index: 20;
    }

    &30 {
        z-index: 30;
    }

    &40 {
        z-index: 40;
    }

    &50 {
        z-index: 50;
    }

    &60 {
        z-index: 60;
    }

    &1000 {
        z-index: 1000;
    }
}

.-max-height- {
    &16 {
        max-height: 16px;
    }

    &32 {
        max-height: 32px;
    }

    &64 {
        max-height: 64px;
    }

    &128 {
        max-height: 128px;
    }
}

.-overlap-top- {
    &1 {
        margin-top: -1rem;
    }

    &2 {
        margin-top: -2rem;
    }

    &3 {
        margin-top: -3rem;
    }

    &4 {
        margin-top: -4rem;
    }
}

.-w- {
    &150 {
        width: 150px;
    }

    &200 {
        width: 200px;
    }

    &250 {
        width: 250px;
    }
}

.-no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.after-border-middle:after {
    content: "";
    border-color: colors.$color-lightgrey;
    border-style: solid;
    border-bottom-width: 1px;
    height: 1px;
    flex-grow: 1;
}

.-no-child-margin * {
    margin: 0
}

.celebrationLogo {
    height: 100px;
}