@use 'colors';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

body {
    font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1.2;
}

a {
	background-color:transparent;
    color: #0073e5;
	text-decoration: underline;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:focus, &:hover {
      color: #333;
	  text-decoration: none;
    }
}

b,strong {
	font-weight:bolder;
}
code {
	font-family:monospace,monospace;
	font-size:1em;
}
small{
	font-size:80%;
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sub {
	bottom:-.25em;
}
sup {
	top:-.5em;
}

b,
strong {
	font-weight: 700;
}

blockquote,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 30px;
}

.text-label {
    color: colors.$color-moderategrey;
    &-sm {
        font-size: 0.7rem;
    }
}

.-sub-text {
    font-size: 0.8rem;
    color: colors.$color-moderategrey
}

.-text- {
    &medium {
        font-size: 0.9rem;
    }
    &small {
        font-size: 0.6rem;
    }
    &bold {
        font-weight: bold;
    }
}