$color-link: rgb(0, 115, 229);
$color-yellow: rgb(251, 232, 166);
$color-orange: rgb(244, 151, 108);
$color-darkblue: rgb(48, 60, 108);
$color-blue: rgb(47, 196, 244);
$color-teal: rgb(180, 223, 229);
$color-lightblue: rgb(210, 253, 255);
$color-lightgrey: rgba(225, 227, 230, 1);
$color-moderategrey: rgb(136, 136, 136);
$color-darkgrey: rgb(111, 112, 112);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-red: rgb(242, 128, 128);
$color-green: rgb(115, 201, 170);

.-color- {
    &yellow { 
        background-color: $color-yellow !important;
        &-text {
            color: $color-yellow !important;
        }
        &-fa {
            path {
                fill: $color-yellow !important;
            }
        }
    }
    &orange {
        background-color: $color-orange !important;
        &-text {
            color: $color-orange !important;
        }
        &-fa {
            path {
                fill: $color-orange !important;
            }
        }
    }
    &darkblue {
        background-color: $color-darkblue !important;
        &-text {
            color: $color-darkblue !important;
        }
        &-fa {
            path {
                fill: $color-darkblue !important;
            }
        }
    }
    &teal {
        background-color: $color-teal !important;
        &-text {
            color: $color-teal !important;
        }
        &-fa {
            path {
                fill: $color-teal !important;
            }
        }
    }
    &lightblue {
        background-color: $color-lightblue !important;
        &-text {
            color: $color-lightblue !important;
        }
        &-fa {
            path {
                fill: $color-lightblue !important;
            }
        }
    }
    &lightgrey {
        background-color: $color-lightgrey !important;
        &-text {
            color: $color-lightgrey !important;
        }
        &-fa {
            path {
                fill: $color-lightgrey !important;
            }
        }
    }
    &moderategrey {
        background-color: $color-moderategrey !important;
        &-text {
            color: $color-moderategrey !important;
        }
        &-fa {
            path {
                fill: $color-moderategrey !important;
            }
        }
    }
    &darkgrey {
        background-color: $color-darkgrey !important;
        &-text {
            color: $color-darkgrey !important;
        }
        &-fa {
            path {
                fill: $color-darkgrey !important;
            }
        }
    }
    &white {
        background-color: $color-white !important;
        &-text {
            color: $color-white !important;
        }
        &-fa {
            path {
                fill: $color-white !important;
            }
        }
    }
    &green {
        background-color: $color-green !important;
        &-text {
            color: $color-green !important;
        }
        &-fa {
            path {
                fill: $color-green !important;
            }
        }
    }
    &red {
        background-color: $color-red !important;
        &-text {
            color: $color-red !important;
        }
        &-fa {
            path {
                fill: $color-red !important;
            }
        }
    }
    &black {
        background-color: $color-black !important;
        &-text {
            color: $color-black !important;
        }
        &-fa {
            path {
                fill: $color-black !important;
            }
        }
    }
}