@use 'colors';

.svg-inline--fa {
    color: colors.$color-darkgrey;

    &:hover {
        color: darken(colors.$color-darkgrey, 20%);
    }

    &.fa-trash:hover {
        color: darken(colors.$color-red, 10%);
    }

    &.fa-pencil-alt:hover {
        color: darken(colors.$color-green, 10%);
    }
}