@use 'colors';

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

a {
	background-color:transparent;
    color: #0073e5;
	text-decoration: underline;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:focus, &:hover {
      color: #333;
	  text-decoration: none;
    }
}

b,strong {
	font-weight:bolder;
}
code {
	font-family:monospace,monospace;
	font-size:1em;
}
small{
	font-size:80%;
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sub {
	bottom:-.25em;
}
sup {
	top:-.5em;
}

b,
strong {
	font-weight: 700;
}

blockquote,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 30px;
}