@use '../modules/colors';
@import "bootstrap/scss/bootstrap-grid";

.profile-picture {
    position: relative;
    img {
        border-radius: 10%;
        border: 1px solid colors.$color-moderategrey;
        max-height: 120px;
    }
    @include media-breakpoint-up(md) {
        align-content: flex-start;
        flex-direction: column;
        h4 {
            overflow-wrap: break-word;
            align-self: stretch;
        }
    }
    @include media-breakpoint-up(xs) {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        img {
            display: inline-block;
        }
        h4 {
            display: inline-block;
            padding-left: 5px;
            margin: 0;
        }
    }
}

#profilePic {
    #editProfile {
        width: 1rem;
        height: 1rem;
    }
    @include media-breakpoint-up(md) {
        #editProfile {
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 0;
            left: -2px;
        }
    }
}

.content-item {
    .item-header {
        position: relative;
        .item-edit-options {
            padding: 3px;
            background-color: colors.$color-lightgrey;
            position: absolute;
            right: 5px;
            top: 5px;
            visibility: hidden;
            border-radius: 10px;
            border: 1px solid colors.$color-moderategrey;

            i {
                margin-left: 3px;
                margin-right: 3px;
            }
        }
    }

    &:hover .item-edit-options {
        visibility: visible;
    }
}