@use '../abstracts' as *;

.profile-picture {
    position: relative;
    img {
        border-radius: 10%;
        border: 1px solid $color-moderategrey;
        max-height: 120px;
    }
    @include media-breakpoint-up(md) {
        align-content: flex-start;
        flex-direction: column;
        h4 {
            overflow-wrap: break-word;
            align-self: stretch;
        }
    }
    @include media-breakpoint-up(xs) {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        img {
            display: inline-block;
        }
        h4 {
            display: inline-block;
            padding-left: 5px;
            margin: 0;
        }
    }
}

#profilePic {
    #editProfile {
        width: 1rem;
        height: 1rem;
    }
    @include media-breakpoint-up(md) {
        #editProfile {
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 0;
            left: -2px;
        }
    }
}

.content-item {
    .item-header {
        position: relative;
        .item-edit-options {
            padding: 3px;
            background-color: $color-lightgrey;
            position: absolute;
            right: 5px;
            top: 16px;
            visibility: hidden;
            border-radius: 10px;
            border: 1px solid $color-moderategrey;

            i {
                margin-left: 3px;
                margin-right: 3px;
            }
        }
    }

    &:hover .item-edit-options {
        visibility: visible;
    }
}

.project-showcase {
    border-radius: 10px;
    border: 1px solid $color-lightgrey;
    position: relative;
    padding: 2em 0 0 0;

    .project-showcase-title {
        font-size: 1rem;
        width: auto;
        font-weight: 600;
        position: absolute;
        background-color: $color-white;
        top: 0;
        left: 1em;
        transform: translateY(-50%);
    }
}

.project-item-title {
    background-color: adjust-color($color-lightgrey, $alpha: -0.5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 1px solid $color-lightgrey;
    border-left: 1px solid $color-lightgrey;
    border-right: 1px solid $color-lightgrey;
    margin-bottom: 0;
    padding: 4px 0;
}

.project-item {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid $color-lightgrey;
    border-left: 1px solid $color-lightgrey;
    border-right: 1px solid $color-lightgrey;
    padding: 0;

    .project-file-image {
        max-height: 150px;
        width: auto;
    }

    video, .project-file-image {
        padding: 10px;
    }

    video {
        max-height: 100%;
        object-fit: fill;
    }
}

.see-more-container {
    position: relative;

    .see-more {
        display: inline-block;
        padding: 0 8px;
        position: absolute;
        background-color: adjust-color($color-white, $alpha: -0.1);
        bottom: 0;
        right: 0;
    }
}

.blank-section {
    background-color: $color-lightgrey;
    border: 1px solid $color-darkgrey;
    border-radius: 10px;
    padding: 8px;
}

.certification {
    border: 1px solid $color-lightgrey;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;

    img {
        padding-left: 8px;
    }
}

.uprove-approved {
    display: inline-block;
    position: relative;
    width: 20px;

    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}