<p style="text-align:left">Hi {{ user.first_name }},</p>
{% block entryParagraph %}{% endblock entryParagraph %}
<table width="100%">
    <tbody>
        <tr>
            <td style="border:20px transparent solid">
                <div style="padding:10px 0;text-align:center;background-color:#303c6c;border-radius:32px">
                    <a href="{{ protocol }}://{{ domain }}{% url 'passwordReset' uidb64=uid token=token %}"
                       style="text-decoration:none;color:#fff;display:block;width:100%" target="_blank">
                        Reset Password
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align:left">This link can only be used once. If you need to reset your password again, please visit
<a href="uprove.co">uprove.co</a> and request a password reset in the "Sign in" menu. If you did not make this
request, please ignore this email.
</p>
<p style="text-align:left">Sincerely,</p>
<p style="text-align:left">Uprove Team</p>
<p style="text-align:left">Questions or need help? Email us at {{ supportEmail }}</p>