<p style="text-align:left">Hi {{ user.first_name }},</p>
<p style="text-align:left">Thank you for creating an account with Uprove! We are sincerely thrilled to have you join and can't wait
to make your experience great. Please use the button below to set your password and get started. If you have any
issues at all, don't hesitate to reach out at {{ supportEmail }}.
</p>
<table width="100%">
    <tbody>
        <tr>
            <td style="border:20px transparent solid">
                <div style="padding:10px 0;text-align:center;background-color:#303c6c;border-radius:32px">
                    <a href="{{ protocol }}://{{ domain }}{% url 'passwordReset' uidb64=uid token=token %}"
                       style="text-decoration:none;color:#fff;display:block;width:100%" target="_blank">
                        Reset Password
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align:left">This link can only be used once. If you need to reset your password again, please visit
<a href="uprove.co">uprove.co</a> and request a password reset in the "Sign in" menu. If you did not make this
request, please ignore this email.
</p>
<p style="text-align:left">Sincerely,</p>
<p style="text-align:left">Uprove Team</p>