{% extends 'email/baseResetPassword.html' %}

{% block entryParagraph %}
<p style="text-align:left">Thank you for creating an account with Uprove! We are sincerely thrilled to have you join and can't wait
to make your experience great. Join our
<a href="https://join.slack.com/t/uprovecommunity/shared_invite/zt-16isgs9wn-zh32hcweGKKVDA_A1MY49Q">slack community</a>
to get help and support from the Uprove team and other candidates like you. Please use the button below to set
your password and get started.
</p>
{% endblock entryParagraph %}
