@use 'modules/colors';
@use 'modules/animations';
@use 'modules/bootstrap';
@use 'modules/elements';
@use 'modules/employer-dashboard';
@use 'modules/fa';
@use 'modules/footer';
@use 'modules/header';
@use 'modules/profile';
@use 'modules/selectize';
@use 'modules/standalone';
@use 'modules/text';
@use 'modules/tiptap';

@import "bootstrap/scss/bootstrap-grid";
@import 'selectize/dist/css/selectize.css';

$fa-font-path: 'webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @import "~bootstrap-ie11/scss/bootstrap-ie11.scss";
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: rgba(colors.$color-lightgrey, .2);
}

.mobile {
    &-side-margin {
        width: calc(100% - calc(var(--bs-gutter-x) * 1));
        margin-left: calc(var(--bs-gutter-x) * 0.5);
        margin-right: calc(var(--bs-gutter-x) * 0.5);
    }
    &-top {
        display: flex;
        flex-direction: column-reverse;
    }
}

.background-video {
    object-fit: cover;
}

.hover-menu {
    &:not(:hover) .hover-show {
        visibility: hidden;
    }
    &:hover .hover-show {
        visibility: visible;
    }
}

.image-wrap {
    img {
        float: left;
        margin: 5px;
    }
    :not(img) {
        text-align: justify;
    }
}

.blog-post {
    .blog-img {
        max-height: 300px;
        max-width: 100%;
        border: 1px solid colors.$color-lightgrey;
        border-radius: 10px;
        margin-right: 15px;
        margin-bottom: 5px;
        object-fit: contain;
    }
}
