@use 'modules/bootstrap';
@use 'modules/colors';
@use 'modules/elements';
@use 'modules/fa';
@use 'modules/footer';
@use 'modules/header';
@use 'modules/profile';
@use 'modules/selectize';
@use 'modules/standalone';
@use 'modules/text';
@use 'modules/tiptap';
@import "bootstrap/scss/bootstrap-grid";
@import 'selectize/dist/css/selectize.css';

.card-header {
    overflow: hidden;
}

.view-more {
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,1));
    position: absolute;
    display: block;
    bottom: 5px;
    left: 0px;
    padding: 5px 0 2px 10px;
}
