@use 'modules/bootstrap';
@use 'modules/colors';
@use 'modules/elements';
@use 'modules/fa';
@use 'modules/footer';
@use 'modules/header';
@use 'modules/modal';
@use 'modules/profile';
@use 'modules/selectize';
@use 'modules/standalone';
@use 'modules/text';
@use 'modules/tiptap';
@import "bootstrap/scss/bootstrap-grid";
@import 'selectize/dist/css/selectize.css';


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  @import "~bootstrap-ie11/scss/bootstrap-ie11.scss";
}

#vue-container {
    width: 95%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: rgba(colors.$color-lightgrey, .2);
}

.mobile {
    &-top {
        display: flex;
        flex-direction: column-reverse;
    }
}
